* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;
  --primary-color: #ffb900;
}

body {
  background-color: #ffb900;
  background-image: linear-gradient(180deg, #ffdd64 0%, #bfbcb3 100%);
}

.content {
  max-width: 1170px;
  margin: auto;
}

.sticky {
  padding-bottom: 26px;
  position: fixed;
  padding-top: 10px;
  top: 0px;
  width: 100%;
  background-color: #ffdd64;
  z-index: 1;
}
.sticky .header {
  margin: auto;
  padding-top: 26px;
  height: 50px;
  width: 1170px;
  max-width: calc(100% - 48px);
  display: flex;
  align-items: center;
}
.sticky .header img {
  height: 36px;
  width: 36px;
}
.sticky .header p {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #14464b;
  margin-left: 5px;
}
.sticky .header ul {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  margin-right: 70px;
  list-style-type: none;
}
.sticky .header a {
  padding: 4px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  text-align: center;
  color: #5f5b53;
}
.sticky .header a:hover {
  color: #171100;
}
.sticky .header button {
  padding: 11px 41px;
  border-radius: 24.5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  text-align: center;
  border: none;
}
.sticky .header .btn {
  color: rgba(0, 0, 0, 0.714);
  border: 1px solid rgba(0, 0, 0, 0.714);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
}
.sticky .header .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.714);
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}
.sticky .header .btn:hover {
  color: white;
}
.sticky .header .btn:hover::before {
  transform: translateX(0);
}

.block1 {
  height: 1000px;
  width: 100%;
}
.block1 .block1__body {
  padding: 150px 0 65px 0;
  display: flex;
  align-items: center;
  gap: 70px;
}
.block1 .block1__body .left {
  width: 60%;
}
.block1 .block1__body .left .title {
  font-weight: 800;
  font-style: italic;
  font-size: 100px;
  color: #14464b;
  line-height: 1.5;
}
.block1 .block1__body .left .desc {
  font-size: 45px;
  font-weight: 300;
  background-color: #a7cffa;
  width: 85%;
  text-align: center;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 5px;
}
.block1 .block1__body .right {
  flex-grow: 1;
}
.block1 .block1__body .right img {
  width: 100%;
  box-shadow: -3px 5px 5px 10px #4a3807;
  border-radius: 6px;
}

.block2 {
  height: 900px;
  width: 100%;
  padding-top: 70px;
}
.block2 .contain-items {
  width: 100%;
  display: flex;
  gap: 10px;
  row-gap: 50px;
  flex-wrap: wrap;
}
.block2 .contain-items .item {
  border-radius: 10px;
  background-color: #fff;
  width: calc(33% - 10px);
}
.block2 .contain-items .item img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 250px;
}
.block2 .contain-items .item .text-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.block2 .contain-items .item i,
.block2 .contain-items .item p {
  font-size: 12px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=index.css.map */